.git
.gitignore
.venv
.pixi
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
htmlcov
.coverage
dist
build
*.egg-info
data
scratch
doc/build
tests
example
.ipynb_checkpoints
.env
docker/.env
*.md
!README.MD
